<template>
  <div class="wrapper">
    <div class="login-form-wrap">
      <div class="login-form">
        <h3 class="login-from-title">欢迎登录</h3>
        <el-form :model="form" class="demo-form-inline cen" :rules="rules" size="small">
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input type="password" v-model="form.password" placeholder="密码">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" class="login-from-btn" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { login } from "../http/api";
export default {
  data() {
    return {
      form: {
        username: "admin",
        password: "123456"
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" }
        ],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  methods: {
    //登录
    async login() {
      const { token, username } = await login(this.form);
      if (token) {
        this.$store.commit("setToken", token);
        this.$store.commit("setUsername", username);
        this.$message({
          showClose: true,
          message: "欢迎回来," + username,
          type: "success"
        });
        this.$router.replace({
        name: "index"
      });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  .login-form-wrap {
    width: 300px;
    margin-right: 160px;
    background: #ffffff;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    .login-from-title {
      padding-bottom: 15px;
      border-bottom: 1px solid #dddddd;
    }
    .cen {
      margin-top: 15px;
    }
    .login-from-btn {
      width: 100%;
    }
  }
}
</style>