<template>
  <div class="wrapper">
    <el-breadcrumb style="margin-bottom:15px;" separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-form :inline="true">
      <el-form-item>
        <el-input style="width:350px;" v-model="params.query" @keyup.enter.native="getUsers">
          <el-button slot="append" icon="el-icon-search" @click="getUsers"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="userInfoDialog=true">添加用户</el-button>
      </el-form-item>
    </el-form>

    <el-table :data="result.users" border style="width: 100%">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column prop="create_time" label="创建日期"></el-table-column>
      <el-table-column prop="mg_state" label="用户状态">
        <template slot-scope="scope">
          <el-switch v-model="scope.row.mg_state" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop="address" label="操作">
        <template>
          <el-button type="primary" size="small" icon="el-icon-edit" circle></el-button>
          <el-button type="danger" size="small" icon="el-icon-delete" circle></el-button>
          <el-button type="success" size="small" icon="el-icon-check" circle></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      style="margin-top:15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
    ></el-pagination>


    <!-- 添加用户 -->
    <el-dialog title="添加用户" :visible.sync="userInfoDialog">
      <el-form ref="userInfoForm" :model="userInfoForm">
        <el-form-item 
        prop="username"
        label="用户名" 
        :label-width="formLabelWidth" 
        :rules="[
        {required: true, message :'请输入用户名', tirgger: 'blur'}
        ]">
          <el-input v-model="userInfoForm.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item 
        prop="password"
        label="密码" 
        :label-width="formLabelWidth"
        :rules="[
        {required: true, message :'请输入密码', tirgger: 'blur'}
        ]">
          <el-input v-model="userInfoForm.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.email" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="userInfoDialog=false">取 消</el-button>
        <el-button type="primary" @click="addUsers">确 定</el-button>
      </div>
    </el-dialog>

    <!-- 编辑用户 -->

  </div>
</template>

<script>
import { getUsers, addUsers } from "../../http/api";
export default {
  data() {
    return {
      params: {
        query: "",
        pagenum: 1,
        pagesize: 2
      },
      result: {},
      userInfoForm:{
        username:'',
        password:'',
        email:'',
        mobile:''
      },
      userInfoDialog:false,
      formLabelWidth: '80px'
    };
  },
  methods: {
    //用户列表
    async getUsers() {
      const res = await getUsers(this.params);
      console.log(res);
      this.result = res;
    },
    //每页显示条发生变化
    handleSizeChange(num) {
      this.params.pagesize = num;
      this.getUsers();
    },
    //页码发生变化
    handleCurrentChange(num) {
      this.params.pagenum = num;
      this.getUsers();
    },
    //添加用户
    addUsers(){
      this.$refs.userInfoForm.validate(async (valid) => {
        if(valid) {
          const res=await addUsers(this.userInfoForm)
          this.$message({
            showClose: true,
            message: '用户创建成功',
            type: 'success'
          })
          this.$refs.userInfoForm.resetFields();
          this.userInfoDialog=false
          this._getUsers()
        }
      })
    },
    //查询用户，排除query
    async _getUsers(){
      const {pagenum,pagesize} = this.params
      const res = await getUsers({
        pagenum,
        pagesize
      })
      this.result = res;
    }
  },
  created() {
    this.getUsers();
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  padding: 15px;
  background: #ffffff;
  border-radius: 5px;
}
</style>